@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	background-color: #746a95;
}

.container h1 {
	text-align: center;
}

.container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.jumbotron {
	margin-top: 40px;
}

.about {
	font-size: 1.5em;
	font-family: "Roboto", sans-serif;
}

#akan-table {
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
	border-radius: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

#akan-table tr th, #akan-table tr td {
	padding: 10px;
}

#akan-table tr td, #akan-table tr th {
	border: 1px solid black;
}

#days th {
	text-align: center;
	padding-bottom: 0;
}

#days .th-top {
	border-top: none;
}

#input_form {
	display: flex;
	margin: 30px auto;
	justify-content: center;
}

form {
	border: 2px solid black;
	padding: 20px;
	border-radius: 25px;
	font-family: "Roboto", sans-serif;
	background-color: white;
	box-shadow: 10px 10px -15px black;
}

td[colspan="2"] {
    text-align: center;
}

[type="text"], select {
	box-sizing: border-box;
	width: 300px;
}

[type="text"], select, [type="number"] {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#dayOfBirth, #monthOfBirth, #yearOfBirth {
	box-sizing: border-box;
}

#dayOfBirth {
	width: 75px;
}

#monthOfBirth {
	width: 75px;
}

#yearOfBirth {
	width: 140px;
}

.form_left {
	width: 150px;
	text-align: right;
	margin-right: 10px;
}

[type="submit"], [type="button"] {
	position: relative;
	align-self: center;
	margin-top: 20px;
	border-radius: 10px;
}


.modal-body {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
}

#akan_name {
	font-size: 2.5em;
	font-weight: bold;
	text-shadow: 3px 3px 4px black;
	margin-top: 10px;
}